@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    outline: 0;
  }
}

ion-icon {
  font-size: 24px;
}

:root {
  --dark-blue: #002659;
  --purple: #703add;
  --pink: #dc0075;
  --gray: #959dae;
  --gray-on-light-blue: rgba(#002659, 0.25);
  --light-blue: #f4f6fe;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-size: 14px;
  background-color: var(--light-blue);
  display: flex;
  color: var(--gray);
}

a,
ion-icon {
  transition: 0.4s color;
}

aside.left-menu {
  min-width: 20vw;
  background-color: #fff;
  height: 100vh;
  overflow: auto;
  padding-bottom: 120px;

  .profile {
    width: 20vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    .image {
      position: relative;
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        box-shadow: 0px 10px 15px 5px rgba(#c4cae2, 0.4);
      }

      &::before {
        content: "";
        width: 11px;
        height: 11px;
        position: absolute;
        background-color: var(--pink);
        border-radius: 50%;
        border: 3px solid #fff;
        right: 5px;
      }
    }

    span.fullname {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -1px;
      color: var(--dark-blue);
      margin-top: 20px;
    }
    span.username {
      font-weight: 500;
      font-size: 13px;
      margin-top: 4px;
    }
  }

  nav.menu {
    &:not(:first-child) {
      margin-top: 40px;
    }

    h5 {
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 40px;
    }
    ul {
      margin-top: 10px;
      li {
        padding: 12px 0;
        margin-left: 40px;
        position: relative;
        display: flex;
        a {
          display: inline-flex;
          align-items: center;
          color: var(--dark-blue);
          font-size: 12px;
          font-weight: 600;
          ion-icon {
            margin-right: 10px;
            color: black;
          }
          span {
            transition: 0.2s transform;
          }
          &[data-count]::after {
            content: attr(data-count);
            right: 40px;
            position: absolute;
            padding: 0 12px;
            height: 24px;
            display: flex;
            align-items: center;
            color: var(--pink);
            background-color: rgba(220, 0, 117, 0.05);
            border-radius: 12px;
          }
        }

        &.current {
          margin-left: 0;
          padding-left: 40px;
          a {
            color: var(--purple);
            ion-icon {
              color: var(--purple);
            }
          }

          &::before {
            content: "";
            width: 3px;
            height: calc(100% - 8px);
            background-color: var(--purple);
            position: absolute;
            top: 4px;
            left: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
        &:not(.current) a:hover {
          color: var(--purple);
          span:not(.count) {
            transform: translateX(4px);
          }
          ion-icon {
            color: var(--purple);
          }
        }
      }
    }
  }
}

section.container {
  flex: 1;

  & > header {
    height: 80px;
    background-color: #fff;
    border-left: 2px solid var(--light-blue);
    display: flex;
    align-items: center;
    padding: 0 30px;
    ion-icon {
      transition: 0.4s transform, 0.4s color;
      font-size: 20px;
      will-change: transform, color;
    }
    .search {
      display: flex;
      flex-direction: row-reverse;
      flex: 1;
      align-items: center;
      input {
        margin-left: 12px;
        height: 24px;
        font-size: 12px;
        flex: 1;
        &:focus + ion-icon {
          color: var(--dark-blue);
          transform: scale(1.1);
        }
      }
    }
    .btn-settings {
      display: flex;
      cursor: pointer;
      &:hover {
        ion-icon {
          color: var(--dark-blue);
          transform: rotate(-45deg) scale(1.1);
        }
      }
    }
  }

  main {
    height: calc(100vh - 80px);
    overflow: auto;
    padding: 30px 0 135px 30px;

    .track-list {
      &:not(:first-child) {
        margin-top: 30px;
      }

      header {
        height: 30px;
        display: flex;
        align-items: center;
        padding-right: 30px;
        h2 {
          flex: 1;
          color: var(--gray-on-light-blue);
          font-weight: 400;
          font-size: 22px;
          span {
            color: var(--dark-blue);
            font-weight: 600 !important;
          }
        }
        .arrows {
          display: flex;
          align-items: center;
          ion-icon {
            font-weight: 500;
            color: var(--gray-on-light-blue);
            cursor: pointer;
            transition: 0.4s color, 0.4s transform;
            will-change: color, transform;

            &:hover {
              color: var(--dark-blue);
              &:first-child {
                transform: translateX(-5px);
              }
              &:last-child {
                transform: translateX(5px);
              }
            }
          }
        }

        .more {
          color: var(--purple);
          font-weight: 600;
        }
      }

      &.slider {
        ul {
          margin-left: -30px;
          padding: 30px 0 30px 30px;
          display: flex;
          max-width: calc(80vw);
          overflow: hidden;
          li {
            .track-poster {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 256px;
              height: 256px;
              position: relative;
              border-radius: 30px;
              overflow: hidden;
              box-shadow: 0px 0px 20px -5px var(--shadow);
              transition: 0.4s box-shadow;
              will-change: box-shadow;
              &:hover {
                box-shadow: 0px 0px 20px 0px var(--shadow);
              }
            }
            &:not(:first-child) {
              margin-left: 30px;
            }
            .track-name {
              font-weight: 600;
              font-size: 15px;
              letter-spacing: -0.5px;
              color: var(--dark-blue);
              margin-top: 15px;
              display: inline-block;
            }
            .artist {
              font-size: 12px;
              margin-top: 5px;
              font-weight: 500;
            }
          }
        }
      }

      &.table {
        ul {
          display: grid;
          columns: 3;
          grid-auto-flow: column;
          grid-template-rows: repeat(6, 1fr);
          column-gap: 30px;
          row-gap: 15px;
          padding-right: 30px;
          margin-top: 30px;
          li {
            padding: 16px;
            background-color: white;
            border-radius: 8px;
            display: flex;

            .info-left {
              display: flex;
              align-items: center;
              flex: 1;
              font-weight: 600;
              span,
              a {
                color: var(--dark-blue);
                font-size: 13px;
              }

              .count {
                padding: 0 6px;
                margin-right: 12px;
              }
              .poster {
                border-radius: 4px;
              }
              .track-name {
                margin-left: 12px;
                transition: 0.4s transform;
                will-change: transform;
                &:hover {
                  transform: translateX(4px);
                }
              }
            }
            .info-right {
              display: flex;
              flex: 1;
              align-items: center;

              span,
              a {
                font-size: 13px;
                font-weight: 500;
                color: var(--gray);
              }
              .artist {
                &:hover {
                  color: var(--dark-blue);
                }
              }

              .detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: auto;
                ion-icon {
                  color: var(--gray);
                  cursor: pointer;
                  font-size: 22px;
                  margin-left: 24px;
                  &:hover {
                    color: var(--dark-blue);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.currently-playing {
  color: rgba(#fff, 0.65);
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: var(--purple);
  width: 100vw;
  display: flex;
  padding: 15px 0;
  a:hover,
  ion-icon:hover {
    color: #fff !important;
  }

  .track-info {
    display: flex;
    width: 20vw;
    padding-left: 40px;
    align-items: center;
    .poster {
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    .info-inner {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 6px;
      .track-name {
        font-weight: 600;
        color: #fff;
        transition: 0.25s transform;
        &:hover {
          transform: translateX(4px);
        }
      }
      .artist {
        font-size: 12px;
        color: inherit;
      }
    }
  }

  .track-control {
    flex: 1;
    padding: 0 30px;
    display: flex;
    align-items: center;
    .control-buttons {
      display: flex;
      align-items: center;
      ion-icon {
        cursor: pointer;
        &.pause {
          color: #fff;
          background-color: rgba(#fff, 0.2);
          border-radius: 50%;
          padding: 10px 8px 10px 12px;
        }
        &:not(:first-child) {
          margin-left: 12px;
        }
      }
    }

    .progress {
      flex: 1;
      height: 2px;
      background-color: rgba(#000, 0.25);
      margin: 0 30px;
      cursor: pointer;
      position: relative;

      span {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 3px solid var(--purple);
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: var(--past);
      }

      .past {
        width: var(--past);
        height: 2px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 0;
      }
    }

    .duration {
      font-weight: 500;
      font-size: 13px;

      span {
        color: #fff;
      }
    }

    & > ion-icon {
      margin-left: 30px;
      cursor: pointer;
    }
  }
}
